$red : #E65C43;
$white: #FFF;
$gray: #666;
$bodyFont: 'Roboto';
$backgroundImage: '../images/bg.gif';
$logoImage: '../images/logo.png';
$socialMediaImage: '../images/social-media.png';
$graybarBg:#F5F6F6;
$headlineBg: red;